---
---

@import "{{ site.theme }}";
.child {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 2;
  border-style: solid;
  border-color: #be1818;
}

.parent {
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px;
  z-index: 1;
}