<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.png">
    {% include head-custom.html %}
    <a name="top"></a>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-467MDDPDS8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-467MDDPDS8');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">
          <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </ul>

        {% if site.github.is_project_page %}
          <p class="header">This project is maintained by <a class="header name" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %}
      </header>

      <section>
        {{ content }}
        <p id="myP3">
          <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=m&d=IbGvNgHq73FMD5SBQ-tHLkg4SRon6mz1SNo6Nk4hkuY'></script>
        </p>
      </section>

      <footer>
        <div class="parent">
          <script src="https://efreecode.com/js.js" id="eXF-junfeng-0" async defer></script>
          <div class="child">
            <a href="#top">
              <img src="/image/arrow-top-icon-png.png" alt="drawing" width="45"/>
            </a>
          </div>
        </div>
        <!-- <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p> -->
      </footer>
    </div>
    <script>
      document.getElementById("myP3").style.display = "none";
    </script>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
